<a [routerLink]="['/']">
  <h1>Check24 Das Vergleichsportal Blogungen</h1>
</a>

<input (keyup.enter)="search(searchValue);" [routerLink]="['/']" placeholder="Search" name="searchInput" id="searchInput" [(ngModel)]="searchValue">
<button (click)="search(searchValue);" [routerLink]="['/']" class="button fancy-button" type="submit"><i class="material-icons">search</i>search</button>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
